body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f9fa;
}
h1, h2, h3, .font-serif {
    font-family: 'Lora', serif;
}
.nav-link {
    position: relative;
    color: #4a5568;
    transition: color 0.3s;
    font-size: 0.95rem;
}
.nav-link:hover, .nav-link.active {
    color: #0056b3;
}
.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -6px;
    left: 50%;
    background-color: #0056b3;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}
.nav-link:hover::after, .nav-link.active::after {
    width: 100%;
    left: 0;
}
.section-title {
    border-bottom: 2px solid #dee2e6;
    padding-bottom: 0.75rem;
    margin-bottom: 2.5rem;
}
.item-list > li {
    border-left: 3px solid #0056b3;
    padding-left: 1.5rem;
    margin-bottom: 2rem;
}
.tag {
    display: inline-block;
    background-color: #e9ecef;
    color: #495057;
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    font-size: 0.75rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}

/* Tab Styles */
.tab-button {
    @apply whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm;
}
.tab-button.active-tab {
    color: #2563eb; /* blue-600 */
    border-color: #2563eb;
}
.tab-button:not(.active-tab) {
    @apply text-gray-500 border-transparent hover:text-gray-700 hover:border-gray-300;
}

/* Modal styles */
.modal {
    transition: opacity 0.25s ease;
}
/* Use this class to prevent scrolling when a modal is open */
body.modal-active {
    overflow: hidden;
}
.modal-content {
    max-height: 90vh;
}
